
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark" style="height:75px; background-color: #4f5359">
          <div>
            <span className="navbar-brand" style="color:white;">
                   
                 <h2><i class="fa fa-bars"></i>&nbsp;&nbsp;White Board</h2>
                </span>
            </div>
               <div style="float: right; display: inline-flex; justify-content: flex-end;width: 88%">
               <a routerLink="/login" class="btn btn-lg btn-dark margin">Login&nbsp; <i class="fa fa-user"></i></a>
               <a routerLink="/register" class="btn btn-lg btn-dark margin">Register&nbsp; <i class="fa fa-user-plus"></i></a>
               </div>
        </nav>
        
        </div>
        

<app-course-grid></app-course-grid>
        






