
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:75px;">
          <div>
            <span class="navbar-brand" style="color:white;">
                   
                 <h2><i class="fa fa-wordpress" aria-hidden="true"></i>&nbsp;&nbsp;White Board</h2>
                </span>
            </div>
              <div class="ml-auto">
               <a routerLink="/login" [hidden]="loggedIn" class="btn btn-lg btn-dark margin"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a>
               <a routerLink="/register" [hidden]="loggedIn" class="btn btn-lg btn-dark margin"><i class="fa fa-user-plus"></i>&nbsp; Register </a>
               <a (click)="logout()" [hidden]="hide" class="btn btn-lg btn-dark margin" style="color:white"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
               <a routerLink="/profile" [hidden]="hide" class="btn btn-lg btn-dark margin"><i class="fa fa-user"></i>&nbsp;Profile</a>
            </div>
            
               
        </nav>
        
        </div>
        
<div [hidden]="hide"  style="margin-top: 2%; margin-left:1%">
    <div class="card" >
        <h2 class="loginHeader"style="margin-top:30px"> Enrolled Courses</h2>
        </div>
        <div class="card" style="background-color: white" >      
          <ul class="list-group" >
            <li *ngFor="let enrollment of courseName" class="list-group-item" style="background-color: #e0dede61">
              {{enrollment.title}}
            </li>
          </ul>
        
            </div>
</div>


<div style="margin-top: 2%">
<app-course-grid></app-course-grid>
</div>






