<div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.typ">
      <div *ngSwitchCase="'Heading'">
       
        <div class="divClass" [ngSwitch]="widget.size">
          <h1 *ngSwitchCase="'1'">{{widget.text}}</h1>
          <h2 *ngSwitchCase="'2'">{{widget.text}}</h2>
          <h3 *ngSwitchCase="'3'">{{widget.text}}</h3>
          <h4 *ngSwitchCase="'4'">{{widget.text}}</h4>
          <h5 *ngSwitchCase="'5'">{{widget.text}}</h5>
          <h6 *ngSwitchCase="'6'">{{widget.text}}</h6>
        </div>
      </div>
      <div class="divClass" *ngSwitchCase="'Link'">
        <a href="{{widget.href}}">{{widget.text}}</a>
      </div>
      <div class="divClass" *ngSwitchCase="'Image'">
          <img src="{{widget.src}}"/>
      </div>
      <div class="divClass" *ngSwitchCase="'Paragraph'">
          <p>{{widget.text}}</p>
        </div>
      <div class="divClass" *ngSwitchCase="'List'">
        <h6>{{widget.text}}</h6>
        <div class="divClass" [ngSwitch]="widget.listType">
        <ul style="list-style-type:circle;" *ngSwitchCase="'unordered'" class="list-group">
          <li 
              *ngFor="let item of widget.listItems.split(',')">
            {{item}}
          </li>
        </ul>
        <ol *ngSwitchCase="'ordered'" class="list-group">
            <li 
                *ngFor="let item of widget.listItems.split(',')">
              {{item}}
            </li>
          </ol>
        </div>
      </div>
      
    </div>
  </div>