.addCss{
    background-color: #343a40;
      padding-bottom:100%;
      padding-top:20px;
      margin-bottom:3px;
      margin-right:-1px;
      max-height: 100%
}
li{
    background-color:#4f5359;
    margin-bottom:3px;
    
}
a{
    color:white;
}
.margin{
    margin-right:10px;
}
.active{
    background-color:#2485e5!important;
    border-color:#2485e5!important;
}

.sectionCss.active{
  
    background-color:#4f5359!important;
}


.active.wbdv a{
    color:white;
}

.sectionCss{
    padding-left: 20px;
    padding-top: 13px;
    color:white;
    background-color: #818386!important;
}



.wbdv{
    height: 52px;
    padding-left: 20px;
    padding-top: 13px;
    color:white;
}

   
   