<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:75px;">
  <div>
    <h2><i class="fa fa-wordpress" aria-hidden="true"></i>&nbsp;&nbsp;White Board</h2>  
  </div>
  <div class="ml-auto">
    <a routerLink="/admin" style="color:white" [hidden]="!isAdmin" class="btn btn-lg btn-dark margin"><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;Admin Dashboard</a>
    <a (click)="logout()" class="btn btn-lg btn-dark margin" style="color:white"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
    <a routerLink="/home" class="btn btn-lg btn-dark margin" style="color:white"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a>
    
  </div>
  
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div></div>
      <div class="card" style="margin-top: 20%">
        <h2 class="loginHeader"> Profile </h2>
        <div>
          <label for="username" class="fields">Username</label>
          <input [(ngModel)]="username" placeholder="Username" id="name" name="name" #name="ngModel" class="form-control form-control-lg"
            disabled/>
        </div>
       
        <div>
          <label for="firstName" class="fields">Firstname</label>
          <input [(ngModel)]="firstName" placeholder="First Name" id="fname" name="fname" #fname="ngModel" required class="form-control form-control-lg" />
        </div>
        <div *ngIf="fname.invalid" class="alert alert-danger">
            <div *ngIf="fname.errors.required">
              Firstname is required.
            </div>
  
          </div>
        <div>
          <label for="lastName" class="fields">LastName</label>
          <input [(ngModel)]="lastName" placeholder="Last Name" id="lname" name="lname" #lname="ngModel" required class="form-control form-control-lg" />
          <div *ngIf="lname.invalid" class="alert alert-danger">
              <div *ngIf="lname.errors.required">
                Lastname is required.
              </div>
    
            </div>
        </div>
        <div>
          <label for="email" class="fields">Email</label>
          <input [(ngModel)]="email" placeholder="email@abc.com" id="emails" name="emails" #emails="ngModel" required class="form-control form-control-lg" />
        </div>
        <div *ngIf="emails.invalid" class="alert alert-danger">
            <div *ngIf="emails.errors.required">
              Email is required.
            </div>
  
          </div>

        <div>
          <label for="phone" class="fields">Phone</label>
          <input [(ngModel)]="phone" placeholder="(617)-834-2580" id="phn" name="phn" #phn="ngModel" required class="form-control form-control-lg" />
        </div>

        <div *ngIf="phn.invalid" class="alert alert-danger">
            <div *ngIf="phn.errors.required">
              Phone is required.
            </div>
  
          </div>
        <div>
          <label for="address" class="fields">Address</label>
          <input [(ngModel)]="address" placeholder="Unit 1, Park Drive, Boston - MA" id="add" name="add" #add="ngModel" required class="form-control form-control-lg" />
        </div>
        <div *ngIf="add.invalid" class="alert alert-danger">
            <div *ngIf="add.errors.required">
              Address is required.
            </div>
  
          </div>
        <p></p>
        <div>
          <button (click)="update(username,firstName,lastName,email,phone,address)" class="btn btn-lg btn-dark btn-block">
            <i class="fa fa-refresh"></i>&nbsp;Update
          </button>
        </div>
        
      </div>
    </div>
    
    
    <div [hidden]="isAdmin" class="col-md-8">
     
        <div class="card" style="margin-top: 10%">
            <h2 class="loginHeader">Courses</h2>
      <ul class="list-group">
        <li *ngFor="let enrollment of courseName" class="list-group-item">
          <a routerLink="/course/{{enrollment.id}}"> {{enrollment.title}}</a>
        </li>
      </ul>
  
        </div>
      
        <div >
            <div class="card" style="margin-top: 5%">
                <h2 class="loginHeader">Sections</h2>
          
               
              <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th>Section Name</th>
                  <th>Total Seats</th>
                  <th>Available Seats</th>
                </tr>
              </thead>
              <tbody style="background-color: white;">
                <tr *ngFor="let enrollment of sections">
                    <td>{{enrollment.section.name}}</td>
                    <td>{{enrollment.section.seats}}</td>
                    <td>{{enrollment.section.availableSeats}}</td>
                </tr>
              </tbody>

              </table>
           
      
            </div>
            </div>
        </div>

        
    
    
      
    
  </div>
</div>
