.card{
    margin-bottom:15px;
    background-color: lightgrey;
}

a{
    color:white;
}
.margin{
    margin-right:10px;
}

.loginHeader{
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px;
    color: black;
    text-align: center;

}