<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:75px;">
    <div>
        <h2><i class="fa fa-bars"></i>&nbsp;&nbsp;White Board</h2>
      </div>
      <div class="ml-auto">
          <a routerLink="/login" style="color:white"  class="btn btn-lg btn-dark margin"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</a>
          <a routerLink="/home" class="btn btn-lg btn-dark margin" style="color:white"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a>         
        </div>
  </nav>
<div class="container">
   <div class="row">
    <div class='col-md-3'></div>
    <div class="col-md-6"><div></div>
      <div class="card">
          <h2 class="loginHeader"> Register </h2>
          <div >
            <label for="username-email" class="fields">Username</label>
            <input [(ngModel)]="username"
           placeholder="Username"
           class="form-control form-control-lg "/>
          </div>
          <div>
            <label for="password"  class="fields">Password</label>
            <input [(ngModel)]="password"
           placeholder="Password"
           class="form-control form-control-lg "/>
          </div>
          <div>
              <label for="password2"  class="fields">Confirm Password</label>
              <input [(ngModel)]="password2"
              placeholder="Confirm Password"
              class="form-control form-control-lg"/>
            </div>
          <p></p>
          <div>
              <button (click)="register(username, password, password2)"
              class="btn btn-lg btn-dark btn-block"><i class="fa fa-user-plus"></i>
        Register
      </button>
         </div>
         <div>
         
        </div>
      </div>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>

